In [229]:
import pandas as pd
import numpy as np

In [230]:
# 文件存储地址
ACTION_201602_FILE = r"../input/JData_Action_201602.csv"
ACTION_201603_FILE = r"../input/JData_Action_201603.csv"
ACTION_201604_FILE = r"../input/JData_Action_201604.csv"
COMMENT_FILE = r"../input/JData_Comment.csv"
PRODUCT_FILE = r"../input/JData_Product.csv"
USER_FILE = r"../input/JData_User.csv"

MY_USER = r"../temp/my_user.pkl"

USER_TABLE_FILE = r"../temp/JData_Table_User.csv"
PRODUCT_TABLE_FILE = r"../temp/JData_Table_Product.csv"
BEHAVIOR_TABLE_FILE = r"../temp/JData_Table_Behavior.csv"
DEMO = r"../demo.csv"

In [231]:
# 用户数据读取
df_user = pd.read_csv(USER_FILE,encoding='gbk')

In [232]:
df_user.head(10)

   user_id     age  sex  user_lv_cd user_reg_tm
0   200001   56岁以上  2.0           5  2016-01-26
1   200002      -1  0.0           1  2016-01-26
2   200003  36-45岁  1.0           4  2016-01-26
3   200004      -1  2.0           1  2016-01-26
4   200005  16-25岁  0.0           4  2016-01-26
5   200006  36-45岁  2.0           2  2013-04-10
6   200007  36-45岁  2.0           3  2016-01-26
7   200008      -1  2.0           3  2016-01-26
8   200009  36-45岁  2.0           2  2016-01-26
9   200010  36-45岁  2.0           3  2016-01-26

In [233]:
df_user.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105321 entries, 0 to 105320
Data columns (total 5 columns):
user_id        105321 non-null int64
age            105318 non-null object
sex            105318 non-null float64
user_lv_cd     105321 non-null int64
user_reg_tm    105318 non-null object
dtypes: float64(1), int64(2), object(2)
memory usage: 4.0+ MB

In [234]:
df_user.describe()

             user_id            sex     user_lv_cd
count  105321.000000  105318.000000  105321.000000
mean   252661.000000       1.112887       3.850030
std     30403.698188       0.955930       1.071505
min    200001.000000       0.000000       1.000000
25%    226331.000000       0.000000       3.000000
50%    252661.000000       2.000000       4.000000
75%    278991.000000       2.000000       5.000000
max    305321.000000       2.000000       5.000000

In [235]:
df_user.shape

(105321, 5)

In [236]:
# 一共就三四个有用数据，保留至少两个非空的特征
df_user.dropna(axis=0,thresh=2)

        user_id     age  sex  user_lv_cd user_reg_tm
0        200001   56岁以上  2.0           5  2016-01-26
1        200002      -1  0.0           1  2016-01-26
2        200003  36-45岁  1.0           4  2016-01-26
3        200004      -1  2.0           1  2016-01-26
4        200005  16-25岁  0.0           4  2016-01-26
5        200006  36-45岁  2.0           2  2013-04-10
6        200007  36-45岁  2.0           3  2016-01-26
7        200008      -1  2.0           3  2016-01-26
8        200009  36-45岁  2.0           2  2016-01-26
9        200010  36-45岁  2.0           3  2016-01-26
10       200011      -1  0.0           5  2013-04-10
11       200012  36-45岁  2.0           3  2013-04-10
12       200013  26-35岁  2.0           4  2013-04-10
13       200014  26-35岁  2.0           4  2013-04-10
14       200015  26-35岁  1.0           3  2016-01-26
15       200016  26-35岁  2.0           3  2016-01-26
16       200017  36-45岁  2.0           4  2016-01-26
17       200018  16-25岁  2.0           2  2016-01-26
18       200019  16-25岁  2.0           2  2016-01-26
19       200020      -1  2.0           2  2016-01-26
20       200021  26-35岁  2.0           2  2016-01-26
21       200022  26-35岁  0.0           5  2013-04-10
22       200023  36-45岁  2.0           4  2016-01-26
23       200024  36-45岁  2.0           3  2016-01-26
24       200025  46-55岁  2.0           3  2013-04-10
25       200026  26-35岁  2.0           2  2016-02-04
26       200027  26-35岁  1.0           5  2013-04-10
27       200028  16-25岁  2.0           4  2016-01-26
28       200029      -1  2.0           2  2016-01-26
29       200030      -1  2.0           2  2016-01-26
...         ...     ...  ...         ...         ...
105291   305292  26-35岁  2.0           4  2016-01-26
105292   305293      -1  2.0           1  2016-01-26
105293   305294  26-35岁  0.0           3  2016-01-26
105294   305295  16-25岁  2.0           3  2016-01-26
105295   305296  26-35岁  2.0           5  2016-01-26
105296   305297  36-45岁  2.0           2  2016-01-26
105297   305298      -1  2.0           2  2016-01-26
105298   305299  26-35岁  0.0           4  2013-04-10
105299   305300  36-45岁  2.0           3  2013-04-10
105300   305301   56岁以上  2.0           5  2016-01-26
105301   305302  26-35岁  2.0           3  2013-04-10
105302   305303  26-35岁  2.0           2  2016-01-26
105303   305304  36-45岁  0.0           4  2013-04-10
105304   305305  36-45岁  2.0           4  2013-04-10
105305   305306  36-45岁  2.0           2  2016-01-26
105306   305307  36-45岁  1.0           4  2016-01-26
105307   305308  36-45岁  0.0           4  2016-01-26
105308   305309  36-45岁  2.0           3  2016-01-26
105309   305310  36-45岁  0.0           2  2016-01-26
105310   305311  16-25岁  2.0           1  2016-01-26
105311   305312  26-35岁  0.0           5  2008-11-01
105312   305313  16-25岁  1.0           3  2016-01-26
105313   305314  26-35岁  1.0           5  2013-04-10
105314   305315  36-45岁  2.0           2  2016-01-26
105315   305316  36-45岁  1.0           2  2016-01-26
105316   305317  26-35岁  2.0           4  2013-04-10
105317   305318  36-45岁  2.0           3  2016-01-26
105318   305319  26-35岁  0.0           3  2016-01-26
105319   305320  36-45岁  2.0           2  2016-01-26
105320   305321  36-45岁  2.0           3  2016-01-26

[105321 rows x 5 columns]

In [237]:
df_user.shape

(105321, 5)

In [238]:
df_user["age"].value_counts()

26-35岁    46570
36-45岁    30336
-1        14412
16-25岁     8797
46-55岁     3325
56岁以上      1871
15岁以下         7
Name: age, dtype: int64

In [239]:
# 用户年龄处理
# 用户年龄替换成数值
def user_age_map(user_age_str):
    USER_AGE_DIC = {u'15岁以下': 1,
                u'16-25岁': 2,
                u'26-35岁': 3,
                u'36-45岁': 4,
                u'46-55岁': 5,
                u'56岁以上': 6,
                u'-1': 0}
    try:
        USER_AGE_DIC[user_age_str]
    except:
        except_msg = user_age_str
        print("except_msg",except_msg)
        user_age_int = -1
    else:
        user_age_int = USER_AGE_DIC[user_age_str]
    return user_age_int

df_user_age_1 = df_user["age"].map(user_age_map)

except_msg nan
except_msg nan
except_msg nan

In [240]:
df_user_age_1.head()

0    6
1    0
2    4
3    0
4    2
Name: age, dtype: int64

In [241]:
df_user_age_1.value_counts()

 3    46570
 4    30336
 0    14412
 2     8797
 5     3325
 6     1871
 1        7
-1        3
Name: age, dtype: int64

In [242]:
# 检查age列处理无误，合并到数据集中
df_user["age"] = df_user_age_1

In [243]:
df_user.head()

   user_id  age  sex  user_lv_cd user_reg_tm
0   200001    6  2.0           5  2016-01-26
1   200002    0  0.0           1  2016-01-26
2   200003    4  1.0           4  2016-01-26
3   200004    0  2.0           1  2016-01-26
4   200005    2  0.0           4  2016-01-26

In [244]:
# 查看性别列
df_user["sex"].value_counts()

2.0    54735
0.0    42846
1.0     7737
Name: sex, dtype: int64

In [245]:
df_user[df_user["sex"].isnull()]

       user_id  age  sex  user_lv_cd user_reg_tm
34072   234073   -1  NaN           1         NaN
38905   238906   -1  NaN           1         NaN
67704   267705   -1  NaN           1         NaN

In [246]:
df_user["sex"] = df_user["sex"].fillna(2.0)

In [247]:
df_user[df_user["sex"].isnull()]

Empty DataFrame
Columns: [user_id, age, sex, user_lv_cd, user_reg_tm]
Index: []

In [248]:
df_user.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105321 entries, 0 to 105320
Data columns (total 5 columns):
user_id        105321 non-null int64
age            105321 non-null int64
sex            105321 non-null float64
user_lv_cd     105321 non-null int64
user_reg_tm    105318 non-null object
dtypes: float64(1), int64(3), object(1)
memory usage: 4.0+ MB

In [249]:
# 删除注册信息为空的行
df_user = df_user.drop(df_user["user_reg_tm"].isnull())

In [250]:
df_user.shape

(105319, 5)

In [251]:
df_user["reg_year"] = pd.DatetimeIndex(df_user["user_reg_tm"]).year
df_user["reg_month"] = pd.DatetimeIndex(df_user["user_reg_tm"]).month
df_user["reg_day"] = pd.DatetimeIndex(df_user["user_reg_tm"]).dayofweek

In [252]:
age_df = pd.get_dummies(df_user["age"], prefix="age")
sex_df = pd.get_dummies(df_user["sex"], prefix="sex")
user_lv_df = pd.get_dummies(df_user["user_lv_cd"], prefix="user_lv_cd")
reg_year_df = pd.get_dummies(df_user["reg_year"],prefix="reg_year_df")
reg_month_df = pd.get_dummies(df_user["reg_month"],prefix="reg_month_df")
reg_day_df = pd.get_dummies(df_user["reg_day"],prefix="reg_day_df")

In [253]:
df_user = pd.concat([df_user['user_id'], age_df, sex_df, user_lv_df, reg_year_df, reg_month_df, reg_day_df], axis=1)

In [254]:
df_user.head()

,user_id,age_-1,age_0,age_1,age_2,age_3,age_4,age_5,age_6,sex_0.0,...,reg_month_df_10.0,reg_month_df_11.0,reg_month_df_12.0,reg_day_df_0.0,reg_day_df_1.0,reg_day_df_2.0,reg_day_df_3.0,reg_day_df_4.0,reg_day_df_5.0,reg_day_df_6.0
2,200003,0,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,200004,0,1,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4,200005,0,0,0,1,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,0
5,200006,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0
6,200007,0,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [260]:
df_user.shape

(105319, 50)

In [265]:
# 独热码处理，持久化处理后的user数据
import pickle

pickle.dump(df_user, open(MY_USER, 'wb'))

In [266]:
import os

if os.path.exists(MY_USER):
    df_user = pickle.load(open(MY_USER, 'rb'))

In [267]:
df_user.shape

(105319, 50)

In [106]:
# 商品数据读取
df_product = pd.read_csv(PRODUCT_FILE)
# 评价数据读取
df_comment = pd.read_csv(COMMENT_FILE)

In [107]:
df_product.head()

   sku_id  a1  a2  a3  cate  brand
0      10   3   1   1     8    489
1  100002   3   2   2     8    489
2  100003   1  -1  -1     8     30
3  100006   1   2   1     8    545
4   10001  -1   1   2     8    244

In [108]:
df_product.shape

(24187, 6)

In [109]:
df_product.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24187 entries, 0 to 24186
Data columns (total 6 columns):
sku_id    24187 non-null int64
a1        24187 non-null int64
a2        24187 non-null int64
a3        24187 non-null int64
cate      24187 non-null int64
brand     24187 non-null int64
dtypes: int64(6)
memory usage: 1.1 MB

In [269]:
df_product["cate"].value_counts()

8    24187
Name: cate, dtype: int64

In [270]:
df_product["brand"].value_counts()

489    6637
214    6444
623    1101
812    1061
800    1015
545     945
124     932
306     795
30      659
885     601
403     517
693     372
658     368
766     254
571     235
635     199
562     134
244     114
655     102
622      97
801      94
321      82
790      81
677      77
200      72
427      67
674      53
174      50
857      49
596      48
       ...
574       4
665       4
116       4
291       3
197       3
383       3
180       2
739       2
227       2
907       2
759       2
453       2
324       2
336       1
285       1
479       1
49        1
752       1
13        1
772       1
331       1
299       1
354       1
922       1
554       1
905       1
871       1
855       1
499       1
438       1
Name: brand, dtype: int64

In [111]:
# 查看评价数据
df_comment.head()

           dt  sku_id  comment_num  has_bad_comment  bad_comment_rate
0  2016-02-01    1000            3                1            0.0417
1  2016-02-01   10000            2                0            0.0000
2  2016-02-01  100011            4                1            0.0376
3  2016-02-01  100018            3                0            0.0000
4  2016-02-01  100020            3                0            0.0000

In [113]:
df_comment.shape

(558552, 5)

In [114]:
df_comment.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 558552 entries, 0 to 558551
Data columns (total 5 columns):
dt                  558552 non-null object
sku_id              558552 non-null int64
comment_num         558552 non-null int64
has_bad_comment     558552 non-null int64
bad_comment_rate    558552 non-null float64
dtypes: float64(1), int64(3), object(1)
memory usage: 21.3+ MB

In [115]:
# 商品数据与评价数据都无空值
# 合并商品数据与评价数据（外连接）
# 商品评价数据
df_p_c = pd.merge(df_product,df_comment, on=['sku_id'], how = 'outer')

In [117]:
df_p_c

,sku_id,a1,a2,a3,cate,brand,dt,comment_num,has_bad_comment,bad_comment_rate
0,10,3.0,1.0,1.0,8.0,489.0,NaN,NaN,NaN,NaN
1,100002,3.0,2.0,2.0,8.0,489.0,NaN,NaN,NaN,NaN
2,100003,1.0,-1.0,-1.0,8.0,30.0,NaN,NaN,NaN,NaN
3,100006,1.0,2.0,1.0,8.0,545.0,NaN,NaN,NaN,NaN
4,10001,-1.0,1.0,2.0,8.0,244.0,NaN,NaN,NaN,NaN
5,100016,3.0,-1.0,2.0,8.0,214.0,NaN,NaN,NaN,NaN
6,100029,3.0,2.0,2.0,8.0,214.0,NaN,NaN,NaN,NaN
7,10003,3.0,1.0,2.0,8.0,214.0,NaN,NaN,NaN,NaN
8,100045,2.0,2.0,2.0,8.0,124.0,NaN,NaN,NaN,NaN
9,100057,3.0,1.0,2.0,8.0,306.0,NaN,NaN,NaN,NaN
10,100069,1.0,2.0,-1.0,8.0,403.0,NaN,NaN,NaN,NaN
11,100076,3.0,2.0,1.0,8.0,214.0,2016-02-01,3.0,1.0,0.0227
12,100076,3.0,2.0,1.0,8.0,214.0,2016-02-08,3.0,1.0,0.0227
13,100076,3.0,2.0,1.0,8.0,214.0,2016-02-15,3.0,1.0,0.0227
14,100076,3.0,2.0,1.0,8.0,214.0,2016-02-22,3.0,1.0,0.0227
15,100076,3.0,2.0,1.0,8.0,214.0,2016-02-29,3.0,1.0,0.0227
16,100076,3.0,2.0,1.0,8.0,214.0,2016-03-07,3.0,1.0,0.0227
17,100076,3.0,2.0,1.0,8.0,214.0,2016-03-14,3.0,1.0,0.0227
18,100076,3.0,2.0,1.0,8.0,214.0,2016-03-21,3.0,1.0,0.0227
19,100076,3.0,2.0,1.0,8.0,214.0,2016-03-28,3.0,1.0,0.0227
20,100076,3.0,2.0,1.0,8.0,214.0,2016-04-04,3.0,1.0,0.0227
21,100076,3.0,2.0,1.0,8.0,214.0,2016-04-11,3.0,1.0,0.0227
22,100076,3.0,2.0,1.0,8.0,214.0,2016-04-15,3.0,1.0,0.0227
23,100097,1.0,1.0,2.0,8.0,545.0,2016-02-01,3.0,1.0,0.0870
24,100097,1.0,1.0,2.0,8.0,545.0,2016-02-08,3.0,1.0,0.0870
25,100097,1.0,1.0,2.0,8.0,545.0,2016-02-15,3.0,1.0,0.0870
26,100097,1.0,1.0,2.0,8.0,545.0,2016-02-22,3.0,1.0,0.0870
27,100097,1.0,1.0,2.0,8.0,545.0,2016-02-29,3.0,1.0,0.0870
28,100097,1.0,1.0,2.0,8.0,545.0,2016-03-07,3.0,1.0,0.0870
29,100097,1.0,1.0,2.0,8.0,545.0,2016-03-14,3.0,1.0,0.0870
...,...,...,...,...,...,...,...,...,...,...
575879,9999,NaN,NaN,NaN,NaN,NaN,2016-03-14,3.0,0.0,0.0000
575880,9999,NaN,NaN,NaN,NaN,NaN,2016-03-21,3.0,0.0,0.0000
575881,9999,NaN,NaN,NaN,NaN,NaN,2016-03-28,3.0,0.0,0.0000
575882,9999,NaN,NaN,NaN,NaN,NaN,2016-04-04,3.0,0.0,0.0000
575883,9999,NaN,NaN,NaN,NaN,NaN,2016-04-11,3.0,0.0,0.0000
575884,9999,NaN,NaN,NaN,NaN,NaN,2016-04-15,3.0,0.0,0.0000
575885,99993,NaN,NaN,NaN,NaN,NaN,2016-02-01,4.0,1.0,0.0669
575886,99993,NaN,NaN,NaN,NaN,NaN,2016-02-08,4.0,1.0,0.0670
575887,99993,NaN,NaN,NaN,NaN,NaN,2016-02-15,4.0,1.0,0.0667
575888,99993,NaN,NaN,NaN,NaN,NaN,2016-02-22,4.0,1.0,0.0669
575889,99993,NaN,NaN,NaN,NaN,NaN,2016-02-29,4.0,1.0,0.0664
575890,99993,NaN,NaN,NaN,NaN,NaN,2016-03-07,4.0,1.0,0.0658
575891,99993,NaN,NaN,NaN,NaN,NaN,2016-03-14,4.0,1.0,0.0653
575892,99993,NaN,NaN,NaN,NaN,NaN,2016-03-21,4.0,1.0,0.0653
575893,99993,NaN,NaN,NaN,NaN,NaN,2016-03-28,4.0,1.0,0.0647
575894,99993,NaN,NaN,NaN,NaN,NaN,2016-04-04,4.0,1.0,0.0646
575895,99993,NaN,NaN,NaN,NaN,NaN,2016-04-11,4.0,1.0,0.0647
575896,99993,NaN,NaN,NaN,NaN,NaN,2016-04-15,4.0,1.0,0.0645
575897,99998,NaN,NaN,NaN,NaN,NaN,2016-02-01,1.0,0.0,0.0000
575898,99998,NaN,NaN,NaN,NaN,NaN,2016-02-08,1.0,0.0,0.0000
575899,99998,NaN,NaN,NaN,NaN,NaN,2016-02-15,1.0,0.0,0.0000
575900,99998,NaN,NaN,NaN,NaN,NaN,2016-02-22,1.0,0.0,0.0000
575901,99998,NaN,NaN,NaN,NaN,NaN,2016-02-29,1.0,0.0,0.0000
575902,99998,NaN,NaN,NaN,NaN,NaN,2016-03-07,1.0,0.0,0.0000
575903,99998,NaN,NaN,NaN,NaN,NaN,2016-03-14,1.0,0.0,0.0000
575904,99998,NaN,NaN,NaN,NaN,NaN,2016-03-21,1.0,0.0,0.0000
575905,99998,NaN,NaN,NaN,NaN,NaN,2016-03-28,1.0,0.0,0.0000
575906,99998,NaN,NaN,NaN,NaN,NaN,2016-04-04,1.0,0.0,0.0000
575907,99998,NaN,NaN,NaN,NaN,NaN,2016-04-11,1.0,0.0,0.0000
575908,99998,NaN,NaN,NaN,NaN,NaN,2016-04-15,1.0,0.0,0.0000